{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "array-includes",
    "transform-runtime",
    "syntax-async-functions",
    "transform-object-rest-spread",
    "syntax-class-properties",
    [
      "transform-async-to-module-method",
      {
        "module": "bluebird",
        "method": "coroutine"
      }
    ]
  ]
}